- image = options[:image]
- name = options[:name]
- caption = options[:caption]

.app-avatar-list-item
  - if image
    = image_tag image, class: 'app-avatar-list-item__image'
  - else
    = fa_icon 'user', class: 'app-avatar-list-item__image app-avatar-list-item__icon'
  %span
    .app-avatar-list-item__name
      = name
    .app-avatar-list-item__caption
      = caption
