@import "typography";

$border-color: rgba(0, 0, 0, 0.2);
$avatar-height: 60px;
$avatar-border-width: 4px;

.app-avatar-list-item {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}

.app-avatar-list-item__image {
  border: $avatar-border-width solid $border-color;
  border-radius: 60px;
  height: $avatar-height;
  margin-right: 20px;
  width: $avatar-height;
}

.app-avatar-list-item__icon {
  color: $border-color;
  font-size: 28px !important;
  line-height: $avatar-height - 2 * $avatar-border-width !important;
  text-align: center;
}

.app-avatar-list-item__name {
  @extend %app-typography--body-2;

  font-weight: 500;
}

.app-avatar-list-item__caption {
  @extend %app-typography--caption;

  line-height: 24px;
}
