# {{ ansible_managed }}

[Unit]
Description=CaseCompanion Ruby Application Server

[Service]
ExecStart=/home/app/.rbenv/shims/bundle exec rails server
User=app
Group=app
WorkingDirectory=/home/app/current
EnvironmentFile=/home/app/shared/.env

[Install]
WantedBy=multi-user.target
