[Unit]
Description=CaseCompanion Ruby Application Server

# TODO: EnvironmentFile
[Service]
ExecStart=/home/app/.rbenv/shims/bundle exec rails server
User=app
Group=app
WorkingDirectory=/home/app/src

[Install]
WantedBy=multi-user.target
