# {{ ansible_managed }}

[Unit]
Description=CaseCompanion Ruby Asynchronous Worker

[Service]
# Bash is needed to initialize rbenv:
ExecStart=/bin/bash -lc "exec bin/rails jobs:work"
User=app
Group=app
WorkingDirectory=/home/app/current
EnvironmentFile=/home/app/shared/.env

[Install]
WantedBy=multi-user.target
