tdooner ALL=(ALL) NOPASSWD:ALL

app ALL=(ALL) NOPASSWD:/bin/systemctl start casecompanion
app ALL=(ALL) NOPASSWD:/bin/systemctl stop casecompanion
app ALL=(ALL) NOPASSWD:/bin/systemctl restart casecompanion

app ALL=(ALL) NOPASSWD:/bin/systemctl start casecompanion-worker
app ALL=(ALL) NOPASSWD:/bin/systemctl stop casecompanion-worker
app ALL=(ALL) NOPASSWD:/bin/systemctl restart casecompanion-worker
