= stylesheet_link_tag 'email'

%p
  You're in!

%p
  Thanks for your interest in #{link_to 'casecompanion.org', 'https://casecompanion.org'}. You'll be the first to hear when new features are available.

%p
  Questions? Feedback? Feel free to reply to this email or email team@casecompanion.org.

%p
  Best,
  %br
  Case Companion Team

%p.email--disclaimer-text
  Case Companion is a public website for victims of crime in Multnomah County built by #{link_to 'Code for America', 'https://codeforamerica.org'} in collaboration with government and community partners.
