= stylesheet_link_tag 'email'

%p
  Hello,

%p
  Thanks for registering for early access to #{link_to 'myadvocateoregon.org', 'https://myadvocateoregon.org'}. We're excited to hear from you about what information you need, and if there is anything we can do to help you.

%p
  Feel free to reply to this email if you have any thoughts or would like to connect with us.

%p
  Otherwise, you will hear from us when we have more information that you might find helpful.

%p
  Best,
  %br
  MyAdvocate Team

%p.email--disclaimer-text
  MyAdvocate is a public website for victims of crime in Multnomah County built by #{link_to 'Code for America', 'https://codeforamerica.org'} in collaboration with government and community partners.
