- classes = ['app-button']
- classes << 'app-button--solid' if options[:solid]
- classes << 'app-button--transparent' if options[:transparent]

- to = options.fetch(:to, '#')
- no_link = options.fetch(:no_link, false)

- submit_form = options.fetch(:submit, nil)

- if submit_form
  - button_text = yield.strip
  = submit_form.submit(button_text, class: classes)
- else
  = link_to(to, class: classes) do
    = yield
