- classes = ['app-button']
- classes << 'app-button--dark' if options[:dark]
- classes << 'app-button--solid' if options[:solid]
- classes << 'app-button--solid-dark' if options[:solid_dark]
- classes << 'app-button--stretch' if options[:stretch]
- classes << 'app-button--loading' if options[:loading]
- data = {}
- data.merge!(disable: true, 'app-spinner': true) if options[:spinner]

- to = options.fetch(:to, '#')
- submit_form = options.fetch(:submit, nil)

- if submit_form
  - button_text = sanitize(yield.strip)
  = submit_form.submit(button_text, class: classes, data: data)
- else
  = link_to(to, class: classes, data: data) do
    = yield
