@import "colors";
@import "typography";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-button {
  @extend %app-typography--body-2;

  background-color: #fff;
  border: 1px solid $color-button;
  border-radius: 40px;
  color: $color-button;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  padding: 12px 40px;
  text-decoration: none;
  transition: width .5s ease;
  vertical-align: middle;
  -webkit-appearance: none;

  > .material-icons {
    font-size: inherit;
    vertical-align: text-bottom;
  }
}

.app-button--dark {
  border-color: $color-text;
  border-width: 3px;
  color: $color-text;
}

.app-button--solid {
  background-color: $color-button-solid;
  border: none;
  color: #fff;
}

.app-button--stretch {
  text-align: center;
  width: 100%;
}

.app-button--loading {
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  background-color: transparent;
  border-top: 1px solid transparent;
  height: 50px;
  overflow: hidden;
  padding: 0px;
  width: 50px;
  text-indent: -1000px; // hide all text
}
