@import "colors";
@import "typography";

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-button {
  @extend %app-typography--body-2;

  background-color: #fff;
  border: 2px solid $color-button;
  border-radius: 40px;
  color: $color-button;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  letter-spacing: .15px;
  padding: 12px 40px;
  text-decoration: none;
  text-transform: uppercase;
  transition: width .5s ease;
  vertical-align: middle;
  -webkit-appearance: none;

  &:not(.app-button--loading):hover,
  &:not(.app-button--loading):focus {
    border-color: $color-button-hover;
    color: $color-button-hover;
  }

  > .fa {
    margin-left: .5em;
  }
}

.app-button--solid {
  background-color: $color-button-solid;
  border: 2px solid $color-button-solid-hover;
  color: #fff;

  &:hover {
    background-color: $color-button-solid-hover;
    border-color: $color-button-solid-hover;
    color: #fff;
  }
}

.app-button--stretch {
  text-align: center;
  width: 100%;
}

.app-button--loading {
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  background-color: transparent;
  border-top: 1px solid transparent;
  height: 50px;
  overflow: hidden;
  padding: 0px;
  width: 50px;
  text-indent: -1000px; // hide all text
}
