%ul.timeline
  %li.complete
    .timestamp
      %span.phase Police Investigation
    .status
  %li.current
    .timestamp
      %span.phase DA Prosecution
    .status
  %li.future
    .timestamp
      %span.phase Sentencing
    .status
