%ul.timeline
  %li.li.complete
    .timestamp
      %span.phase Police Investigation
    .status
      / %h4.app-typography--header-4 Shift Created
  %li.li.current
    .timestamp
      %span.phase DA Prosection
    .status
      / %h4.app-typography--header-4 Email Sent
  %li.li
    .timestamp
      %span.phase Sentencing
    .status
      / %h4.app-typography--header-4 SIC Approval
