%ul.app-timeline
  %li.app-timeline__complete
    .app-timeline__timestamp
      %span Police Investigation
    .app-timeline__status

  %li.app-timeline__current
    .app-timeline__timestamp
      %span DA Prosecution
    .app-timeline__status

  %li.app-timeline__future
    .app-timeline__timestamp
      %span Sentencing
    .app-timeline__status
