= render_component 'dropdown', title: t('offender.probation_faq_1_title') do
  .app-faq-item
    = faq_format(t('offender.probation_faq_1'))

= render_component 'dropdown', title: t('offender.probation_faq_2_title') do
  .app-faq-item
    = faq_format(t('offender.probation_faq_2'))
