- dropdown_key = 'faqs.prison_jail.dropdowns.how_earliest_release_date_change'
= render_component 'dropdown', title: t("#{dropdown_key}.title") do
  .app-faq-item
    = faq_format(t("#{dropdown_key}.body"))
