.row
  .col.s11.offset-s1
    %h2.app-typography--header-1 Hello #{@current_user.email}
    %p
      You are logged in.

- if @current_user.is_admin?
  .row
    .col.s11.offset-s1
      Admin Options:
      %ul
        - MailchimpCsvGenerator::CSVS.keys.each do |key|
          %li= link_to "Download #{key.titleize} Mailchimp CSV", mailchimp_csv_path(key)

.row
  .col.s11.offset-s1
    = link_to 'Log Out', sessions_path, method: :delete
