.row
  .col.s11.offset-s1
    %h2.app-typography--header-1 Hello #{@current_user.email}
    %p
      You are logged in.

- if @current_user.is_admin?
  .row
    .col.s11.offset-s1
      Admin Options:
      %ul
        %li Foo
        %li Bar
        %li Baz

.row
  .col.s11.offset-s1
    = link_to 'Log Out', sessions_path, method: :delete
