.mdl-grid
  .mdl-cell.mdl-cell--12-col
    %p Welcome to MyAdvocate. We're here to help you navigate the criminal justice system.
    %p What can we help you with today?
    %p= link_to 'Advocate Login', new_session_path

.mdl-grid
  .mdl-cell.mdl-cell--4-col
    %ul.mdl-list
      %li.mdl-list__item
        .mdl-typography--caption-force-preferred-font Options
      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          What's the offender status?
          %span.mdl-list__item-sub-title Some text here

      %li.mdl-list__item.mdl-list__item--two-line
        %span.mdl-list__item-primary-content
          How can I get notified?
          %span.mdl-list__item-sub-title Description here
