.row
  .col.s12.offset-s1
    %h1.app-typography--header-1 Sandbox Header

    %p Here is a haml sandbox with all our styles and everything!

    = render_component 'button' do
      Here is a button!
