= stylesheet_link_tag 'sandbox'

.row
  .col.s10.offset-s1.m8.offset-m2
    %h1.app-typography--header-1 Sandbox Header

    %p Here is a haml sandbox with all our styles and everything!

    = render_component 'button' do
      Search

    %a.app-button
      &nbsp;
.row
  .col.s2.offset-s1


    / = render_component 'button' do
    /   Here is a button!
.row
  .col.s10.offset-s1.m8.offset-m2
    = render_component 'timeline'
