.row
  .col.s10.offset-s1
    %h1.app-typography--header-1 Sandbox Header

    %p Here is a haml sandbox with all our styles and everything!

    %a.app-button
      Search

    %a.app-button.loading
      &nbsp;
.row
  .col.s2.offset-s1


    / = render_component 'button' do
    /   Here is a button!
.row
  .col.s10.offset-s1
    = render_component 'timeline'
