.row
  .col.m5.offset-m1
    .app-typography--caption-above Case Number
    %span.app-typography--body-1= @subscription.case_number
  .col.m5
    .app-typography--caption-above Offender SID
    %span.app-typography--body-1 FAKE123

.row
  .col.s11.offset-s1
    %h2.app-typography--header-2 Relevant Rights

    %ul
      - @subscription.rights_hash.each do |right, is_checked|
        %li
          = check_box_tag right, true, is_checked
          = label_tag right
