.row
  .col.m5.offset-m1
    .app-typography--caption-above Case Number
    %span.app-typography--body-1= @subscription.case_number
  .col.m5
    .app-typography--caption-above Offender SID
    %span.app-typography--body-1 FAKE123
