@import "colors";

.app-logo {
  color: $color-logo;
  font-weight: 600;
}

.app-logo__beta {
  color: rgba($color-logo, 0.5);
  display: inline-block;
}

.app-logo--single-color {
  color: #2d3029;

  .app-logo__beta {
    color: inherit;
  }
}

.app-header__subtitle {
	color: #2d3029;
}