@import "colors";

.app-logo {
  color: $color-logo;
  font-weight: 500;
}

.app-logo__beta {
  color: rgba($color-logo, 0.5);
  display: inline-block;
}

.app-logo--single-color {
  color: rgba(#fff, 0.8);

  .app-logo__beta {
    color: inherit;
  }
}
