.row
  .col.s10.offset-s1.m8.offset-m2
    %h2.app-typography--header-2= t('rights_flow.to_financial_assistance.field_header')

    = faq_format(t('rights_flow.to_financial_assistance.preamble'),
      html_class: 'app-p-with-list-and-hanging-indent')

%section.row
.row.app-row--rights-checks-container
  .col.s10.offset-s1.m8.offset-m2
    = f.check_box_with_label :flag_k, t('rights.flag_k')
