- content_for :pre_main_focus do
  .row
    .col.s12
      = image_tag 'emoji_thumbs_up.png', width: '64'

  .row
    .col.s12.m6.offset-m3
      %h2.app-typography--header-1 You're all set
      %p We sent you a copy of your rights.

.row
  .col.s11.offset-s1
    %h2.app-typography--header-2 What's next?

.row
  .col.s11.offset-s1
    You will get a letter, etc.
