@import "colors";

.app-list__item-link {
  color: inherit;
  cursor: pointer;
  display: block;
  font-weight: inherit;
  text-decoration: inherit;
  width: 100%;
}

.app-list__item--expanded {
  .mdl-list__item-primary-content {
    color: map-get($colors, primary);
  }
}

.app-list__item--expansion .mdl-list__item-primary-content {
  align-items: left;
  flex-direction: column;
}

.mdl-list__item.app-list__item--hidden {
  display: none;
}
