@import "colors";
@import "typography";

.app-dropdown {
  border: 1px solid $color-page-border;
  color: $color-text;
  display: block;
  padding: 8px 0;
  width: 100%;

  &:not(.app-dropdown__hidden):hover {
    background-color: $color-hover;
    border-color: $color-page-border;
    cursor: pointer;
  }

  > i {
    display: inline-block;
    float: left;
    font-style: initial;
    margin-left: 24px;
    margin-right: 36px;
    width: 14px;
  }

  > span {
    display: block;
    margin-left: 74px; // total with of the <i> element
  }

  & ~ & {
    margin-top: -1px;
  }
}

.app-dropdown__link {
  text-decoration: none;
}

.app-dropdown__body {
  margin: 20px;
  overflow: auto;
}

.app-dropdown__hidden {
  display: none;
}
