.row.app-row
  .col.s12
    = link_to home_path do
      &larr; Back to Home

    %h1.app-typography--header-1 Attorney Manager Import Status
    -if @lines.present?
      %p
        Log begins at
        %em= format_log_time(@lines[0]['datetime'])
      %blockquote
        %pre
          = @lines.map { |l| l['body'] }.join("\n")
    - else
      %p
        No log file available.
