- content_for :page_title, t('offender_search.title')

.row
  .col.s10.offset-s1
    %h1.app-typography--header-1= t('offender_search.title')

%section.row
  .col.s10.offset-s1.m6.offset-m3.l4.offset-l4
    .app__search-button-holder
      = render_component 'button', to: offender_jurisdiction_path(:oregon), stretch: true do
        In Prison

    .app__search-button-holder
      = render_component 'button', to: offender_jurisdiction_path(:dcj), stretch: true do
        On Probation or Parole

    .app__search-button-holder
      = render_component 'button', to: offender_jurisdiction_path(:unknown), stretch: true do
        Not Sure
