- content_for :page_title, t('offender_search.title')

.row
  .col.s10.offset-s1
    %h1.app-typography--header-1= t('offender_search.title')

%section.row
  .col.s4.offset-s4
    .app__search-button-holder
      = render_component 'button', to: offender_jurisdiction_path(:oregon), stretch: true do
        In Prison

    - if feature_enabled?('dcj_search')
      .app__search-button-holder
        = render_component 'button', to: offender_jurisdiction_path(:dcj), stretch: true do
          On Probation or Parole

    .app__search-button-holder
      = render_component 'button', to: offender_jurisdiction_path(:unknown), stretch: true do
        Not Sure
