$colors: (
  primary: #4990e2,

  grey-background: #f8f8f8,
  grey-footer: #efefef, // TODO: find this one in the styleguide

  green-light: #5ab24e,
  green-multnomah: #4a883c,

  navy: #182e45,
  navy-lowcontrast: rgba(#182e45, .54),
  navy-soft: rgba(#182e45, .34),
  navy-superlight: rgba(#182e45, .11),

  blue: #206fbf,
  blue-highlight: #f2f8fe,
  blue-multnomah: #2f6296,
  blue-superlight: rgba(#2f6296, 0.06),

  yellow-light: #fdf5e0,
  yellow-dark: #d9c822,
);

// layout colors
$color-page-background: map-get($colors, grey-background);
$color-page-border: map-get($colors, navy-superlight);
$color-logo: map-get($colors, blue-multnomah);
$color-hover: map-get($colors, blue-highlight);
$color-focus: map-get($colors, blue-highlight);
$color-table-hover: $color-hover;
$color-divider: map-get($colors, navy-superlight);
$color-accent: map-get($colors, green-multnomah);
$color-error: map-get($colors, yellow-light);

// typography colors
$color-text: map-get($colors, navy);
$color-text-caption: map-get($colors, navy-lowcontrast);
$color-header-3: map-get($colors, green-multnomah);
$color-text-error: map-get($colors, yellow-dark);

// button component
$color-button: map-get($colors, blue); // $link-color
$color-button-hover: $color-text;
$color-button-solid: map-get($colors, green-light);
$color-button-solid-hover: map-get($colors, green-multnomah);

// footer partial
$color-footer: map-get($colors, navy-superlight);
$color-footer-border: map-get($colors, navy-superlight);

// materialize definitions so we don't have to import the colors rules:
$primary-color: map-get($colors, blue-multnomah);
$primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);

$secondary-color: $primary-color;
$success-color: #f00; // TODO is this used anywhere?
$error-color: #f00; // TODO is this used anywhere?
$link-color: map-get($colors, blue);
$link-hover-color: map-get($colors, blue-multnomah);

$card-link-color: $link-color;
$input-border-color: $color-text;
$slider-bg-color: #f00; // TODO is this used anywhere?
$slider-bg-color-light: #f00; // TODO is this used anywhere?
$slider-indicator-color: #f00; // TODO is this used anywhere?
