$colors: (
  primary: #4990e2,
  accent: #009789,

  grey-lighter: #f9f9f9,
  grey-light: #f5f5f5,
  grey-lightish: #e2e2e2,
  grey-dark: #182e45,
  grey-dark-translucent: rgba(#182e45, 0.5),

  green-light: #5ab24e,
  green-dark: #4a883c,

  blue-multnomah: #2f6296,
  blue-light: #1481ef,
  blue-lighter: #f1f8fe,
);

// layout colors
$color-page-background: map-get($colors, grey-lighter);
$color-page-border: map-get($colors, grey-lightish);
$color-logo: map-get($colors, blue-multnomah);
$color-hover: map-get($colors, blue-lighter);
$color-table-hover: $color-hover;
$color-divider: map-get($colors, grey-light);

// typography colors
$color-text: map-get($colors, grey-dark);
$color-text-caption: map-get($colors, grey-dark-translucent);
$color-header-3: map-get($colors, green-dark);

// button component
$color-button: map-get($colors, green-dark);
$color-button-solid: map-get($colors, green-light);

// footer partial
$color-footer: map-get($colors, grey-light);
$color-footer-border: #dedede;

// materialize overrides
$secondary-color: map-get($colors, blue-multnomah);
