@import "colors";

// This list comes from
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
// and includes system fonts on iOS/OSX (-apple-system and Helvetica Neue),
// Windows (Segoe UI) and Android (Roboto).
$system-sans-serif: -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Helvetica Neue", sans-serif;

%app-typography--display-1 {
  color: $color-text;
  font-family: $system-sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 48px;
  margin-bottom: 24px;
}

%app-typography--header-1 {
  color: $color-text;
  font-family: $system-sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  margin-bottom: 16px;
}

%app-typography--header-2 {
  color: $color-text;
  font-family: $system-sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 16px;
}

%app-typography--header-3 {
  color: $color-text;
  font-family: $system-sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 16px;
  color: $color-header-3;
}

%app-typography--body-1 {
  color: $color-text;
  font-family: $system-sans-serif;
  font-size: 19px;
  line-height: 28px;
}

%app-typography--body-2 {
  color: $color-text;
  font-family: $system-sans-serif;
  font-size: 16px;
  line-height: 24px;
}

%app-typography--caption {
  color: $color-text-caption;
  font-family: $system-sans-serif;
  font-size: 16px;
  line-height: 20px;
}
