/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material
 *= require_tree .
 *= require_self
 */

body, html {
  background-color: #eaeaea;
}

$colors: (
  primary: #4990e2,
  accent: #009789,
  grey-light: rgba(0, 0, 0, 0.1),
  grey-dark: #9b9b9b,
);

a {
  color: map-get($colors, primary);
}

.app-color-primary {
  color: map-get($colors, primary);
}

.app-button-link {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.app-typography--subheader {
  color: #009789;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.2px;
  line-height: 2;
  margin: 0 0 1em;
}

.app-footer {
  color: rgba(0, 0, 0, 0.54);
}

.app-footer__powered-by {
  margin-top: 64px;

  a {
    color: inherit;
  }
}

/**
 * GLOBAL MATERIAL OVERRIDES
 */
.mdl-button .material-icons {
  // TODO: can we import the material design source file and override this
  font-size: 14px;
}

/*
 * APP CONTAINERS
 */
.app-outer-container {
  min-height: 100vh;
}

.app-container {
  background-color: #f2f2f2;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  max-width: 640px;
}

@media(min-width: 640px) {
  .app-container {
    margin: auto;
    min-width: 640px;
  }
}

.app-header {
  background-color: white;
}

.app-title, .mdl-navigation__link.app-title {
  color: map-get($colors, grey-dark);
  text-decoration: none;
}

/*
 * APP HERO
 */
.app-hero {
  margin: 72px 72px 36px;
}

.app-hero :first-child {
  margin-bottom: 12px;
}

.app-hero :last-child {
  margin-top: 12px;
}

/*
 * LIST EXTENSION STYLES
 */

.app-list__item-link {
  color: inherit;
  cursor: pointer;
  display: block;
  font-weight: inherit;
  text-decoration: inherit;
  width: 100%;
}

.app-list__item--white-background {
  background-color: #fff;
  border-top: 1px solid map-get($colors, grey-light);
  border-bottom: 1px solid map-get($colors, grey-light);

  & ~ & {
    // remove the duplicate border top when two of these are next to each other
    border-top: none;
  }
}

.app-list__item--expanded {
  .mdl-list__item-primary-content {
    color: map-get($colors, primary);
  }
}

.app-list__item--expansion .mdl-list__item-primary-content {
  align-items: left;
  flex-direction: column;
}

.app-list__item--hidden {
  display: none;
}

.app-list__item--no-side-padding {
  padding: 16px 0;
}

.app-list__item--full-bleed {
  margin-left: -16px;
  margin-right: -16px;
}

/*
 * CUSTOM LIST STYLING
 */
// Contact list is a first stab at a component to abstract a list-in-a-list-item
// pattern. The inner list has icons and clickable text, e.g. for the multiple
// modes of contact.
.app-contact-list {
  list-style: none;
  margin: -16px;
  padding: 0;

  > li {
    padding-left: 30px;
  }
}

.app-contact-list__link {
  display: block;
  text-decoration: none;
}

.app-contact-list__icon {
  vertical-align: middle;
}

.app-contact-list__primary-description {
  margin-left: 12px;
  line-height: 48px;

  &:not(:last-child) {
    border-bottom: 1px solid map-get($colors, grey-light);
  }
}

/*
 * CUSTOM CARD VARIANTS
 */

.app-card--notification-method {
  min-height: 0;
  background-color: white;
  margin-left: -16px;
  width: calc(100% + 32px);
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.app-card--notification-method .mdl-card__title {
  padding: 28px 16px 0;
}
