/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require material
 *= require_tree .
 *= require_self
 */

body, html {
  background-color: #eaeaea;
}

.app-title {
  color: #fff;
  text-decoration: none;
}

/*
 * APP CONTAINERS
 */
.app-outer-container {
  min-height: 100vh;
}

.app-container {
  background-color: #f2f2f2;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  max-width: 640px;
}

@media(min-width: 640px) {
  .app-container {
    margin: auto;
    min-width: 640px;
  }
}


/*
 * APP HERO
 */
.app-hero {
  margin: 72px 72px 36px;
}

.app-hero :first-child {
  margin-bottom: 12px;
}

.app-hero :last-child {
  margin-top: 12px;
}

/*
 * LIST EXTENSION STYLES
 */

.app-list__item-link {
  color: inherit;
  cursor: pointer;
  display: block;
  font-weight: inherit;
  text-decoration: inherit;
  width: 100%;
}

.app-list__item-secondary-link {
  color: inherit;
}

.app-list__item--white-background {
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.app-list__item--expansion .mdl-list__item-primary-content {
  align-items: left;
  flex-direction: column;
}

.app-list__item--hidden {
  display: none;
}

.app-list__item--full-bleed {
  margin-left: -16px;
  margin-right: -16px;
}

.app-card--notification-method {
  min-height: 0;
  width: 100%;
}
