/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * COMPONENTS
 *= require dropdown
 *= require button
 *= require avatar_list_item
 *= require logo
 *= require timeline
 *= require progress_row

 * OTHER STYLE DEPENDENCIES
 *= require_tree .
 *= require_self
 *= stub sandbox
 */

@import "typography";
@import "colors";
@import "materialize/components/variables"; // include after the other mixins have overridden variables

@import "materialize/components/global";
@import "materialize/components/grid";
@import "materialize/components/typography";
@import "materialize/components/forms/forms";

$app-column-outer-width: unquote("calc(" + (100 / $num-cols) + "% + " +
  ($gutter-width / 2)+ ")");

body, html {
  @extend %app-typography--body-1;

  background-color: $color-page-background;
  margin: 0;
  min-width: 360px;

  &.app-layout--lander {
    background-color: #fff;
  }
}

a {
  color: inherit;
  text-decoration: underline;
}

input, label {
  @extend %app-typography--body-2;
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

.app-color-primary {
  color: map-get($colors, primary);
}

.app-button-group {
  > .app-button:not(:last-child) {
    margin-right: 16px;
  }
}

.app-button-link {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.app-feature-flagged {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px dashed rgba(#ffbe50, 0.6);
    top: 0;
    left: 0;
    z-index: 0;
  }

  &::after {
    display: block;
    content: 'feature flagged';
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(#ffbe50, 0.6);
    font-size: 10px;
    padding: 2px;
    margin-top: 3px;
    margin-right: 3px;
  }
}

.app-todo {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px dashed rgba(#c069ff, 0.6);
    top: 0;
    left: 0;
    z-index: 0;
  }

  &::after {
    display: block;
    content: 'TODO';
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(#c069ff, 0.6);
    font-size: 10px;
    padding: 2px;
    margin-top: 3px;
    margin-right: 3px;
  }
}

.app-typography--display-1 {
  @extend %app-typography--display-1;
}

.app-typography--header-1 {
  @extend %app-typography--header-1;
}

.app-typography--header-2 {
  @extend %app-typography--header-2;
}

.app-typography--header-3 {
  @extend %app-typography--header-3;
}

.app-typography--body-1 {
  @extend %app-typography--body-1;
}

.app-typography--body-2 {
  @extend %app-typography--body-2;
}

.app-typography--caption {
  @extend %app-typography--caption;
}

.app-typography--caption-above {
  @extend %app-typography--caption;

  margin-bottom: 4px;
}

.app-footer {
  @extend %app-typography--body-2;

  border-top: 1px solid $color-footer-border;
  background-color: $color-footer;
  overflow: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.app-footer__feedback-list li {
  display: inline-block;
  float: left;
  min-width: 85px;
}

.app-footer__powered-by {
  @extend %app-typography--caption;

  line-height: 24px;
}

.app-container {
  max-width: 940px;
}

$app-container-top-padding: 40px;
.app-container--main {
  @extend .app-container;

  background-color: #fff;
  border: 1px solid $color-page-border;
  border-top-style: none;
  padding-top: $app-container-top-padding;
  padding-bottom: 40px;
  margin-bottom: 36px;
}

.app-container--focused {
  background-color: #fff;
  border-left: 1px solid $color-page-border;
  border-right: 1px solid $color-page-border;
  margin: auto;
  max-width: 460px;
  width: 100%;
}

.app-container--focused__header {
  @extend %app-typography--caption;

  align-items: center;
  background-color: $color-page-background;
  border-bottom-style: solid;
  border-color: $color-page-border;
  border-width: 1px;
  display: flex;
  justify-content: center;
  padding: 24px $app-column-outer-width;
}

.app-container--focused__footer {
  @extend .app-container--focused__header;
  @extend %app-typography--caption;

  background-color: #fff;
  border-top-style: solid;
  line-height: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

@media(min-width: 640px) {
  .app-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 640px;
  }
}

.app-header {
  background-color: #fff;
  border-bottom: 1px solid $color-page-border;
  overflow: auto;
}

.app-header--hero {
  background-color: none;
  background-image: image-url('hero_road.jpg');
  background-size: cover;
  background-position: center center;
  border: none;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;

  &::after {
    background-color: #fff;
    width: calc(100% + 20px);
    content: '';
    height: 100px;
    position: absolute;
    bottom: -45px;
    left: 0;
    transform: rotate(-2.78deg);
  }
}

.app-header--lander {
  background-color: $primary-color;
}

.app-header--subhero {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 80px;

  // Give a bit more top-padding for the not-first sections
  & ~ & {
    border-top: 1px solid $color-footer-border;
    padding-top: 80px;
  }
}

.app-header--subhero-no-bottom-padding {
  padding-bottom: 0;

  > .app-container:last-child > .row:last-child {
    margin-bottom: 0;
  }
}

.app-header__link {
  display: inline-block;
  text-decoration: none;
}

.app-header__title {
  @extend %app-typography--caption;

  color: $color-logo;
  margin: 20px 0 0;
}

.app-header__title--splash {
  @extend .app-header__title;
  color: rgba(255, 255, 255, 0.8);
}

.app-header__subtitle {
  @extend %app-typography--caption;

  margin-top: 8px;
  color: rgba(#fff, 0.6);
}

.app-header__headline {
  @extend %app-typography--display-1;

  color: #fff;
  margin-top: 120px;
}

.app-header__subhead {
  @extend %app-typography--body-1;

  color: #fff;
  margin-top: 40px;
}

.app-header__logos {
  width: 100%;
  max-width: 230px;
  margin: auto;
  display: block;
}

$focus-form-overlap-height: 120px;
.app-header__focus-form-spacer {
  height: $focus-form-overlap-height;
}

@mixin override-form-color($new-color) {
  .input-field {
    label.active {
      color: $color-accent !important;
    }

    input:focus {
      border-bottom-color: $color-accent !important;
      box-shadow: 0 1px 0 0 $color-accent !important;
    }
  }
}

.app-header__focus-form {
  @include override-form-color($color-accent);

  background-color: #fff;
  bottom: $focus-form-overlap-height;
  box-shadow: 0px -8px 8px 0px rgba(0, 0, 0, 0.08);
  margin-bottom: -$focus-form-overlap-height;
  padding: 48px 0;
  position: relative;
}

.app-cell--error {
  background-color: $color-error;
  padding: 1em;
}

.app-row--error {
  background-color: $color-error;
  color: $color-text-error;
  margin-bottom: -40px;
  padding: 32px 0;
}

.app-vertical-spacer {
  height: 80px;
}

@media(min-width: 640px) {
  .app-vertical-spacer {
    height: 160px;
  }
}

/*
 * APP HERO
 */
.app-hero {
  margin: 72px 72px 36px;
}

.app-hero :first-child {
  margin-bottom: 12px;
}

.app-hero :last-child {
  margin-top: 12px;
}

/*
 * CUSTOM LIST STYLING
 */
// Contact list is a first stab at a component to abstract a list-in-a-list-item
// pattern. The inner list has icons and clickable text, e.g. for the multiple
// modes of contact.
.app-contact-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-contact-list__link {
  display: block;
  text-decoration: none;
  white-space: nowrap;
}

.app-contact-list__icon {
  display: inline-block;
  font-size: $typography-size-body-1;
  vertical-align: middle;
}

.app-contact-list__primary-description {
  line-height: 48px;
  margin-left: 32px;
  text-decoration: underline;

  &:not(:last-child) {
    border-bottom: 1px solid map-get($colors, grey-light);
  }
}

/*
 * CUSTOM FORM FIELD STYLING
 */
.app-input-field--no-label {
  margin-top: 0;
}

.app-input-field-caption {
  @extend %app-typography--caption;

  font-size: 14px;
  position: relative;
  bottom: 8px;
}

/*
 * CUSTOM CARD VARIANTS
 */
.app-card--result {
  background-color: white;
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0 0 16px -16px;
  padding: 16px;

  > ul {
    list-style: none;
    padding: 0;
  }
}

.app-card--result__label {
  display: inline-block;
  width: 100px;
  color: map-get($colors, grey-dark);
}

/*
 * CUSTOM TABLE STYLES
 */
$table-gutter: $app-column-outer-width;
.app-table {
  @extend %app-typography--body-2;

  margin-top: 20px;
  border-top: 4px solid $color-divider;
  border-collapse: collapse;

  th:first-child, td:first-child {
    padding-left: $table-gutter;
  }

  th:last-child, td:last-child {
    padding-right: $table-gutter;
  }

  thead th {
    @extend %app-typography--caption;
    font-weight: normal;
  }

  thead tr {
    border-bottom: 2px solid $color-divider;
  }

  tbody:hover {
    background-color: $color-table-hover;
  }

  tr[data-href] {
    cursor: pointer;
  }
}

.app-table__row--bordered {
  border-top: 2px solid $color-divider;
  border-bottom: 2px solid $color-divider;
}

.app-table--full-bleed {
  margin-left: -($gutter-width / 2);
  margin-right: -($gutter-width / 2);
}

.app-table--rows-clickable {
  > tbody > tr:hover {
    cursor: pointer;
  }
}

/**
 * MATERIALIZE OVERRIDES & CUSTOMIZATIONS
 */
// Use <section class="row"> to get a top-border and extra top spacing.
section.row:not(:first-child) {
  margin-top: 40px;
  border-top: 4px solid $color-divider;
}

.app-col--text-centered {
  text-align: center;
}

.app-container--pre-main-focus {
  background-color: $color-focus;
  border-bottom: 2px solid $color-divider;
  margin-bottom: 32px;
  margin-top: -$app-container-top-padding;
  padding: 52px 0 32px;
  text-align: center;
}

.character-counter {
  color: $color-text-caption;
}

// This rule overrides the Materialize CSS rules for checkbox labels.
[type="checkbox"] + .app-checkbox-with-label {
  @extend %app-typography--body-1;

  height: auto;
  padding: 28px 36px 28px 72px;
}

.app-checkbox-with-label {
  transition: background-color .25s, border .25s;
  width: 100%;

  input:not(:checked) + & {
    background-color: #fff;
    border: 2px solid $color-divider;
  }

  input:checked + & {
    background-color: $color-focus;
    border: 2px solid $color-text;
  }

  // Check icon:
  &:before {
    input:not(:checked) + & {
      top: (32px + 10px) !important;
      left: (36px + 6px) !important;
    }

    input:checked + & {
      top: 32px !important;
      left: (36px + 1px) !important;
    }
  }

  // Check box border:
  &:after {
    top: 32px !important;
    left: 36px !important;

    input:checked + & {
      background-color: $color-text !important;
      border-color: $color-text !important;
    }
  }
}
