/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * COMPONENTS
 *= require dropdown
 *= require button
 *= require avatar_list_item
 *= require logo
 *= require timeline
 *= require progress_bar

 * OTHER STYLE DEPENDENCIES
 *= require_tree .
 *= require_self
 *= stub sandbox
 *= stub email
 */

@import "typography";
@import "colors";
@import "grid";
@import "materialize/components/variables"; // include after the other mixins have overridden variables

@import "materialize/components/global";
@import "materialize/components/grid";
@import "materialize/components/typography";
@import "materialize/components/dropdown";
@import "font-awesome";

$app-field-margin-bottom: 20px;

body, html {
  @extend %app-typography--body-1;

  background-color: $color-page-background;
  color: $color-text;
  margin: 0;
  min-width: 360px;
}

a {
  border-bottom: 1px solid currentColor;
  text-decoration: none;

  &:hover {
    border-bottom-color: currentColor;
    color: $link-hover-color;
  }
}

input, label {
  @extend %app-typography--body-2;
  line-height: 1.5;
}

strong {
  font-weight: 700;
}

.app-feature-flagged {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px dashed rgba(#ffbe50, 0.6);
    top: 0;
    left: 0;
    z-index: 0;
  }

  &::after {
    display: block;
    content: 'feature flagged';
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(#ffbe50, 0.6);
    font-size: 10px;
    padding: 2px;
    margin-top: 3px;
    margin-right: 3px;
  }
}

.app-todo {
  position: relative;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 3px dashed rgba(#c069ff, 0.6);
    top: 0;
    left: 0;
    z-index: 0;
  }

  &::after {
    display: block;
    content: 'TODO';
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    background-color: rgba(#c069ff, 0.6);
    font-size: 10px;
    padding: 2px;
    margin-top: 3px;
    margin-right: 3px;
  }
}

.app-typography--display-1 {
  @extend %app-typography--display-1;
}

.app-typography--display-2 {
  @extend %app-typography--display-2;
}

.app-typography--display-3 {
  @extend %app-typography--display-3;
}

.app-typography--header-1 {
  @extend %app-typography--header-1;
}

.app-typography--header-2 {
  @extend %app-typography--header-2;
}

.app-typography--header-3 {
  @extend %app-typography--header-3;
}

.app-typography--body-1 {
  @extend %app-typography--body-1;
}

.app-typography--body-2 {
  @extend %app-typography--body-2;
}

.app-typography--caption {
  @extend %app-typography--caption;
}

.app-typography--caption-above {
  @extend %app-typography--caption;

  margin-bottom: 4px;
}

// Use this class if the section adds enough margin/padding and you don't want
// any additional margin on the heading.
.app-typography--section-heading {
  margin-top: 0;
}

.app-p-with-list-and-hanging-indent {
  margin-left: 22px;

  ul > li {
    list-style-type: disc;
  }
}

.app-container {
  max-width: $app-outer-width;
}

@media #{$medium-and-up} {
  .app-container {
    margin-left: auto;
    margin-right: auto;
    min-width: 640px;
  }
}

.app-container--main {
  @extend .app-container;

  background-color: #fff;
  border: 1px solid $color-page-border;
  box-shadow: 1px 1px $color-page-border;
  margin-top: 30px;
  margin-bottom: 36px;
}

.app-container--focused {
  background-color: #fff;
  border-left: 1px solid $color-page-border;
  border-right: 1px solid $color-page-border;
  margin: auto;
  max-width: 460px;
  width: 100%;
}

.app-container--focused__header {
  @extend %app-typography--caption;

  align-items: center;
  background-color: $color-page-background;
  border-bottom-style: solid;
  border-color: $color-page-border;
  border-width: 1px;
  display: flex;
  justify-content: center;
  padding: 24px column-width(1);
}

.app-container--focused__footer {
  @extend .app-container--focused__header;
  @extend %app-typography--caption;

  background-color: #fff;
  border-top-style: solid;
  line-height: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.app-container--left-line {
  position: relative;

  &::before {
    display: block;
    content: ' ';
    border-left: 2px solid $color-divider;
    height: 100%;
    position: absolute;
    top: 0;
    left: column-width(1.5);
  }
}

.app-container--subhero {
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;

  // Add a border for the not-first sections
  & ~ & {
    border-top: 1px solid $color-footer-border;
  }
}

.app-container--centered {
  text-align: center;
}

.app-header {
  background-color: #fff;
  border-bottom: 1px solid $color-page-border;
  clear: both;
  overflow: auto;
}

.app-header--hero {
  background-color: none;
  background-image: image-url('hero_road.jpg');
  background-size: cover;
  background-position: center top;
  border: none;
  overflow: hidden;
  padding-bottom: 100px;
  position: relative;
}

.app-header__title {
  @extend %app-typography--caption;

  border-bottom: none;
  color: $color-logo;
  margin: 20px 0 0;
  text-align: center;
  width: 100%
}

.app-header__logo {
  border-bottom: none;
  text-decoration: none;
}

.app-header__title--splash {
  @extend .app-header__title;

  color: rgba(255, 255, 255, 0.8);
  text-align: left;
}

.app-header__subtitle {
  @extend %app-typography--caption;
  font-weight: 600;
}

.app-header__headline {
  @extend %app-typography--display-1;
  @extend %app-typygraphy--hero;
  margin: 120px 0 60px;
}

.app-header__subhead-1 {
  @extend %app-typography--display-3;
  @extend %app-typygraphy--hero;
}

.app-header__subhead-2 {
  @extend %app-typography--body-1;
  @extend %app-typygraphy--hero;
}

.app-header__logos {
  width: 100%;
  max-width: 230px;
  margin: auto;
  display: block;
}

$app-row-margin: 60px;
.app-row {
  margin: 60px 0;
  padding: 0 map-get($app-outer-padding, small);

  @media #{$medium-and-up} {
    padding: 0 map-get($app-outer-padding, medium);
  }

  @media #{$large-and-up} {
    padding: 0 map-get($app-outer-padding, large);
  }
}

.app-row--large {
  margin: 80px 0;
}

.app-row--with-separator {
  border-top: 4px solid $color-divider;
  padding-top: 60px;
}

.app-row--left-line-dot {
  position: relative;

  &::before {
    content: ' ';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: unquote("calc(" + column-width(1.5) + " - 7px)");
    top: 28px;
    border-radius: 50px;
    border: 2px solid #ffffff;
    background: $color-text;
  }
}

.app-row--error {
  background-color: $color-error;
  color: $color-text-error;
  margin-bottom: -$app-row-margin;
  padding-bottom: 30px;
  padding-top: 30px;
}

.app-footer {
  @extend %app-typography--body-2;

  border-top: 1px solid $color-footer-border;
  background-color: $color-footer;
  overflow: auto;
}

.app-footer__feedback-list {
  margin: 24px 0 0; // body-2 line-height

  li {
    display: inline-block;
    float: left;
    min-width: 85px;
  }
}

.app-footer__powered-by {
  @extend %app-typography--caption;

  line-height: 24px;
  margin: 40px 0;

  @media #{$large-and-up} {
    margin-top: 0;
  }
}

.app-cell--error {
  background-color: $color-error;
  padding: 1em;
}

.app-button-group {
  display: flex;
  flex-direction: column;

  > .app-button:not(:last-child) {
    margin-bottom: 20px;
  }
}

/*
 * APP FORM STYLING (<input>)
 */
.app-input-field {
  label {
    font-size: 14px;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  input[type="number"],
  input[type="password"] {
    border: 2px solid $color-divider;
    outline: none;
    height: 3rem;
    padding-left: .5rem;
    transition: all .3s;
    width: 100%;

    &:focus {
      border-color: $primary-color;
    }

    &.invalid {
      border-color: $color-text-error;
    }
  }

  select {
    @extend %app-typography--body-2;

    appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 2px solid $color-divider;
    height: 3rem;
    padding-left: .5rem;
    width: 100%;

    &:focus {
      border-color: $primary-color;
    }

    &.invalid {
      border-color: $color-text-error;
    }
  }
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;

  & + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    user-select: none;
  }

  & + label:before,
  & + label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid $radio-empty-color;
    border-radius: 1px;
    margin-top: 2px;
  }

  &:checked + label:before {
    top: 2px;
    left: 2px;
    width: 6px;
    height: 12px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: $radio-border;
    border-bottom: $radio-border;
    transform: rotate(40deg);
    backface-visibility: hidden;
    transform-origin: 100% 100%;
  }
}

.app-select-container {
  position: relative;
}

.app-select-container__icon {
  position: absolute;
  top: calc(50% - .5em);
  right: 12px;
}

/*
 * HOME PAGE
 */
.app-home-link-with-description {
  margin-bottom: 20px;
}

/*
 * CUSTOM LIST STYLING
 */
// Contact list is a first stab at a component to abstract a list-in-a-list-item
// pattern. The inner list has icons and clickable text, e.g. for the multiple
// modes of contact.
.app-list-check {
  margin: 40px 0;
  padding-left: column-width(1);
  position: relative;

  &::before {
    font-family: FontAwesome;
    content: '\f00c';
    position: absolute;
    left: 16px;
  }
}

/*
 * CUSTOM FORM FIELD STYLING
 */
.app-input-field--no-label {
  margin-top: 0;
}

.app-input-field-caption {
  @extend %app-typography--caption;
  font-size: 14px;
}

.app-input-field-caption--invalid {
  color: $color-text-error;
}

.app-field-attachment {
  border: 2px solid $color-divider;
  border-top-style: none;
  margin-top: -$app-field-margin-bottom;
  padding: 2rem 1rem;
}

.app-field-attachment--active {
  background-color: $color-focus;
}

/*
 * CUSTOM CARD VARIANTS
 */
.app-card--result {
  background-color: white;
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0 0 16px -16px;
  padding: 16px;

  > ul {
    list-style: none;
    padding: 0;
  }
}

.app-card--result__label {
  color: $color-text-caption;
  display: inline-block;
  width: 100px;
}

/*
 * CUSTOM TABLE STYLES
 */
$table-gutter: column-width(1);
.app-table {
  @extend %app-typography--body-2;

  margin-top: 20px;
  border-top: 4px solid $color-divider;
  border-collapse: collapse;

  th:first-child, td:first-child {
    padding-left: $table-gutter;
  }

  th:last-child, td:last-child {
    padding-right: $table-gutter;
  }

  thead th {
    @extend %app-typography--caption;
    font-weight: normal;
  }

  thead tr {
    border-bottom: 2px solid $color-divider;
  }

  tbody:hover {
    background-color: $color-table-hover;
  }

  tr[data-href] {
    cursor: pointer;
  }
}

.app-table__row--bordered {
  border-top: 2px solid $color-divider;
  border-bottom: 2px solid $color-divider;
}

/**
 * MATERIALIZE OVERRIDES & CUSTOMIZATIONS
 */
// Use <section class="row"> to get a top-border and extra top spacing.
.app-container--pre-main-focus {
  background-color: $color-focus;
  border-bottom: 2px solid $color-divider;
  overflow: auto;
  text-align: center;
}

.character-counter {
  color: $color-text-caption;
}

.app-checkbox-with-label {
  transition: background-color .25s, border .25s;
  width: 100%;

  &:last-of-type {
    margin-bottom: 0;
  }

  // Unchecked
  // This rule overrides the above CSS rules for checkbox labels.
  input[type="checkbox"] + & {
    @extend %app-typography--body-1;
    background-color: #fff;
    border: 2px solid $color-divider;
    height: auto;
    margin-bottom: $app-field-margin-bottom;
    padding: 28px 36px 28px 72px;

    &.invalid {
      border-color: $input-error-color;
    }

    // Check Icon:
    &::before {
      top: 31px;
      left: 36px;
    }

    // Checkbox Border:
    &::after {
      top: 31px;
      left: 36px;
      transition: initial !important;
    }
  }

  // Checked styles
  input[type="checkbox"]:checked + & {
    background-color: $color-focus;
    border: 2px solid $color-text;

    &::before {
      border-bottom-color: #fff;
      border-right-color: #fff;
      top: 33px;
      left: 37px;
      z-index: 1;
    }

    &::after {
      background-color: $color-text !important;
      border-color: $color-text !important;
    }
  }
}

// Rails Overrides:
.turbolinks-progress-bar {
  background-color: $primary-color;
}
