// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "typography";
@import "colors";
@import "materialize/components/variables"; // include after the other mixins have overridden variables

.app-menu {
  background-color: $color-hover;
  padding: 32px 40px;
}

.app-menu--full-bleed {
  margin-left: -($gutter-width / 2);
}

.app-menu__header {
  @extend %app-typography--header-4;
}

.app-menu__link {
  line-height: 36px;
}

.app-menu__link--selected {
  font-weight: bold;
}

div.app-faq-item {
  ul li {
    // This selector needs to be very precise to override materialize
    list-style-type: disc;
    padding-left: 12px;
    margin-left: 20px;
  }
}
