// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "typography";
@import "colors";
@import "materialize/components/variables"; // include after the other mixins have overridden variables

.app-menu__header {
  @extend %app-typography--header-4;
}

.app-menu__link {
  line-height: 36px;
}

div.app-faq-item {
  @extend %app-typography--body-1;

  ul li {
    // This selector needs to be very precise to override materialize
    list-style-type: disc;
    padding-left: 12px;
    margin-left: 20px;
  }
}

svg {
	margin: 24px 0;
}
