// Place all the styles related to the faqs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "colors";
@import "typography";

.app-menu {
  background-color: $color-hover;
  padding: 32px 40px;
}

.app-menu__header {
  @extend %app-typography--header-4;
}

.app-menu__link {
  line-height: 36px;
}

.app-menu__link--selected {
  font-weight: bold;
}
