// Place all the styles related to the offenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-offender-info-container {
  margin-bottom: 20px;
}

.app-offender-method-container {
  margin-bottom: 40px;
  overflow: auto;
}

.app-offender-contact-container {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}


