// Place all the styles related to the offenders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app-offender-method-container {
  margin-bottom: 40px;
  overflow: auto;
}

.app-offender-notification-method {
  float: left;
  width: 50%;
}
