@import "colors";

.styleguide-container {
  margin: auto;
  width: 960px;
}

.styleguide-code {
  border-left: 2px solid #000;
  padding: 0 16px;
}

.styleguide-sample {
  background-color: #f00;
}

.styleguide-variant {
  margin-bottom: 24px;
}
